@import 'tailwindcss';

@font-face {
  font-family: 'SourceCodePro';
  src: url('/fonts/Source_Code_Pro/SourceCodePro.ttf') format('truetype');
}

@font-face {
  font-family: 'SpecialGothic';
  src: url('/fonts/Special_Gothic_Expanded_One/SpecialGothicExpandedOne-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Karla';
  src: url('/fonts/Karla/Karla-VariableFont_wght.ttf') format('truetype');
}

.correct-word {
  color: rgb(230, 230, 230);
}

.untyped-word {
  color: #9c7445;
}

.incorrect-word {
  color: rgb(207, 0, 0);
  font-weight: bold;
}

.typoed-word {
  color: rgb(207, 207, 0);
  font-weight: bold;
}

.title {
  color: #e6e6e6;
  font-family: 'SpecialGothic';
}

.word {
  font-size: 1.5rem;
  font-family: 'SourceCodePro';
}

.text-input {
  opacity: 0%;
}

.statistic {
  color: #F79F79;
  font-size: 2rem;
  font-weight: bold;
  font-family: 'SpecialGothic';
  line-height: 1.5rem;
}

.statistic-category {
  color: #9c7445;
  font-family: 'Karla';
}

.word-input {
  font-family: 'SourceCodePro';
  font-size: larger;
}

.button {
  @apply text-lg rounded-full px-4 py-2;
  background-color: #9c7445;
  color: #1b1b1b;
  font-family: 'Karla';
  font-weight: bold;
}

.button:hover {
  background-color: #6d5131;
}

.button:active {
  background-color: #523d25;
}