

#root {
  max-width: 1280px;
  margin: 0 auto;
}

@font-face {
  font-family: 'SourceCodePro';
  src: local('SourceCodePro');
}

.correct-word {
  color: green;
}

.untyped-word {
  color: gray;
}

.incorrect-word {
  color: red;
}

.typoed-word {
  color: yellow;
}

.word {
  font-size: 2rem;
  font-family: 'SourceCodePro', monospace;
}

.text-input {
  opacity: 0%;
}

.current-letter {
  @apply underline;
  text-underline-position: under;
}